header {
  position: sticky;
  top: 0;
  padding: clamp(2rem, 3dvh, 4rem) clamp(1rem, 15vw, 15rem);
  z-index: 9999;
  background: var(--bg-p1);
  /*box-shadow: 0 0 15px var(--bg-p5);*/
}
@media (max-width: 765px) {
  header {
    padding: clamp(1.5rem, 3dvh, 4rem) clamp(1rem, 7vw, 5rem);
  }
}


.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: clamp(10px, 2vw, 25px);
  width: auto;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: clamp(1rem, 3vw, 3rem);
}

.nav-links a {
  color: var(--font-p1);
  font-size: clamp(0.8rem, 0.vw, 1rem);
  font-weight: 400;
}

.hamburger {
  display: none;
}

.hamburger img {
  height: clamp(14px, 2vw, 22px);
}

/* Tablet + Mobile */
@media (max-width: 765px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 5px;
    margin-top: 5px;
    background: var(--bg-p1);
    padding: 1.5rem;
    border-radius: 20px;
    /*box-shadow: 0px 2px 15px var(--bg-p1);*/
  }

  .nav.open .nav-links {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}
